  <div class="row">
  <div class="col">
<h1 class=" h1-scss font-weight-bold blue-text " >MAYA HOTELS</h1>
<p class=" p-scss  blue-text" >Exolore Ethiopia</p>
  </div>
  <!-- add any thing in the column -->
</div>
<div class="row">
  <!-- <div class="col-md-12"> -->
  <!-- Grid column -->
  <div class="col-md-12">
    <ul class="nav aqua-gradient py-4 mb-r font-weight-bold z-depth-1">
      <li class="nav-item">
        <a class="nav-link active white-text " id="nav-hotel-tab" routerLink = "/hotel"
        routerLinkActive="active">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active white-text" id="nav-flight-tab" routerLink = "/flight"
        routerLinkActive="active">Flight</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  active white-text" id="nav-tour-tab" routerLink = "/tour-travel"
        routerLinkActive="active">Tour & Travel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active white-text" id="nav-car-tab"  routerLink = "/car"
        routerLinkActive="active">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active white-text" id="nav-attraction-tab"  aria-controls="nav-attraction" routerLink = "/attraction"
        routerLinkActive="active">Attractions</a>
      </li>
      <li>
       <mdb-icon fas icon="home" size ="2x"  class="white-text pr-3  mx-4" aria-hidden="true"></mdb-icon>
       <a class="nav-link active white-text mx-4 font-size medium" id="nav-home-tab"  aria-controls="nav-home" routerLink = "/home"
        routerLinkActive="active">Home</a>
      </li>
    </ul>
</div>
</div>
<!-- Grid row -->